/*-------------------------------------------------------------------------------------

	Theme Name: Pitschmann
	Theme URI: http://www.pitschmann.ch
	Author: Pitschmann
	Author URI: http://www.pitschmann.ch
	Description: the homepage of pitschmann.
	Version: 1.0.1
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: zilla
	Domain Path: /languages/

-------------------------------------------------------------------------------------

	0.	CSS Normalize
	1.	Document Setup (body, common classes, vertical rhythm, etc)
	2.	Structure
	3.	Header Styles
	4.	Navigation & Pagination
	5.	Main Content Styles
	6.	Portfolio Content Styles
	7.	Comments
	8.	Footer Styles
	9.	Page & Page Templates
	10.	Widgets

-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/

/*	0.	CSS Normalize - git.io/normalize - v3.0.2
/*-----------------------------------------------------------------------------------*/

html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0;font-size:2em}mark{color:#000;background:#ff0}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{height:0;-moz-box-sizing:content-box;box-sizing:content-box}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input[type=checkbox],input[type=radio]{padding:0;box-sizing:border-box}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}legend{padding:0;border:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*-----------------------------------------------------------------------------------*/

/*	1.	Document Setup (body, common classes, vertical rhythm, etc)
/*-----------------------------------------------------------------------------------*/

html {
  font-size: 16px;
}

@media (max-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 14px;
  }
}

/* Global ---------------------------------------------------------------------------*/

body {
  background-color: #f0f0f0;
}

body,
button,
input,
select,
textarea {
  font: normal 1rem/1.6 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #25292c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

hr {
  height: 1px;
  margin: 2.5rem 0;
  background-color: #efefef;
  border: none;
}

p {
  margin: 0 0 1.625rem;
}

ul,
ol {
  margin: 0 0 1.5rem 0.5rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5rem 2.5rem;
}

blockquote {
  width: 75%;
  margin: 0 auto;
  font: italic 1.125rem/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b9b9b9;
  text-align: center;
}

blockquote cite {
  display: block;
  margin-top: 1em;
  font-size: 0.875em;
}

q {
  font-style: italic;
  color: #6b6f73;
}

address {
  margin: 0 0 1.5rem;
}

pre {
  max-width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  overflow: auto;
  font: normal 0.875rem/1.3 Consolas, "Andale Mono", Courier, "Courier New", monospace;
  background: #efefef;
  border: 1px solid #ddd;
}

code,
kbd,
tt,
var,
samp {
  font: normal 0.875rem/1.3 Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

mark,
ins {
  text-decoration: none;
  background: #fff9c0;
}

table {
  width: 100%;
  margin: 0 0 2rem;
  border: 1px solid #ccc;
}

table .even {
  background: #eeeeee;
}

th {
  font-weight: 700;
}

tr {
  border-bottom: 1px solid #ccc;
}

th,
td {
  padding: 5px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Form Elements --------------------------------------------------------------------*/

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

button,
html input[type="submit"],
input[type="reset"],
input[type="submit"] {
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  background: #a9a9a9;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  -webkit-transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
          transition: background-color 0.1s ease-in-out, border 0.2s ease-in-out;
  -webkit-appearance: button;
}

.comment-form button,
.comment-form html input[type="submit"],
.comment-form input[type="reset"],
.comment-form input[type="submit"] {
  width: 100%;
}

@media (min-width: 768px) {
  .comment-form button,
  .comment-form input[type="submit"],
  .comment-form input[type="reset"],
  .comment-form input[type="submit"] {
    float: right;
    width: auto;
    max-width: 260px;
  }
}

button:hover:not(.overlay-close):not(.mejs-controls button),
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus:not(.overlay-close),
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active:not(.overlay-close),
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #4ac2be;
  border-color: #4ac2be;
  outline: none;
}

button:active:not(.overlay-close),
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  position: relative;
  top: 2px;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="seach"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  padding: 1rem;
  color: #25292c;
  border: 1px solid #efefef;
  border-radius: 3px;
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline: none;
}

.comment-form p {
  zoom: 1;
}

.comment-form p:before,
.comment-form p:after {
  display: table;
  content: "";
}

.comment-form p:after {
  clear: both;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
}

@media (min-width: 768px) {
  .comment-form input[type="text"],
  .comment-form input[type="email"],
  .comment-form input[type="url"] {
    float: right;
    width: 85%;
  }
}

.comment-form label {
  font-size: 0.875rem;
  color: #878788;
}

@media (min-width: 768px) {
  .comment-form label {
    position: relative;
    top: 1rem;
    display: inline-block;
    width: 15%;
  }
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #d0d0d0;
}

textarea {
  width: 100%;
  overflow: auto;
  vertical-align: top;
}

.error404 fieldset {
	border: none;
}

/* Links ----------------------------------------------------------------------------*/

a {
  position: relative;
  color: #4ac2be;
  text-decoration: none;
  -webkit-transition: all 0.1s;
     -moz-transition: all 0.1s;
          transition: all 0.1s;
}

a:hover,
a:focus,
a:active {
  color: #25292c;
}

/* Alignment --- */

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

/* Clears ---------------------------------------------------------------------------*/

.clear {
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.page-navigation:before,
.page-navigation:after,
.single-page-navigation:before,
.single-page-navigation:after,
.comment-navigation:before,
.comment-navigation:after {
  display: table;
  content: ' ';
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.site-footer:after,
.page-navigation:after,
.single-page-navigation:after,
.comment-navigation:after {
  clear: both;
}

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  content: ".";
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hide from IE Mac \*/

.clearfix {
  display: block;
}

/* End hide from IE Mac */

.none {
  display: none;
}

/* End Clearfix */

/* Helpers --- */

.hidden {
  display: none;
}

/*-----------------------------------------------------------------------------------*/

/*	2. Structure
/*-----------------------------------------------------------------------------------*/

.site {
  max-width: 1160px;
  padding: 0 3.2258%;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#container {
  padding: 140px 3.2258% 0;
  -webkit-transition: padding 0.15s;
          transition: padding 0.15s;
}

#container.pt-nav-open {
  padding-top: 210px;
}

@media (min-width: 768px) {
  #container {
    padding: 135px 3.2258% 0;
  }

  #container.pt-nav-open {
    padding-top: 192px;
  }
}

.admin-bar #container {
  padding-top: 145px;
}

.admin-bar #container.pt-nav-open {
  padding-top: 250px;
}

@media (min-width: 783px) {
  .admin-bar #container {
    padding-top: 135px; 
  }

  .admin-bar #container.pt-nav-open {
    padding-top: 192px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.csstransitions .fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
     -moz-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in.one {
  -webkit-animation-delay: 0.05s;
     -moz-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.fade-in.two {
  -webkit-animation-delay: 0.15s;
     -moz-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

/*-----------------------------------------------------------------------------------*/

/*	3.	Header Styles
/*-----------------------------------------------------------------------------------*/

.site-logo {
  display: table-cell;
  width: 50%;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  color: #25292c;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
}

.site-logo a {
  letter-spacing: -0.03em;
  color: #25292c;
  border: none;
}

.site-logo a:hover {
  color: #4ac2be;
  text-decoration: none;
}

.site-tagline {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1;
  color: #525658;
}

.site-logo img {
  max-height: 55px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.site-logo img:hover {
  opacity: 0.62;
}

/*-----------------------------------------------------------------------------------*/

/*	4.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/

.menu-icons {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  list-style: none;
  font-size: 1.25rem;
}

.menu-icons li {
  position: relative;
  float: right;
  margin-left: 1rem;
}

.menu-icons a:hover {
  opacity: .65;
}

.menu-icons li a#filter-toggle,
.menu-icons li a.filter-toggle {
  padding: 0 12px;
  background: url("images/icon-filter.png") no-repeat;
  background-size: 24px;
}

.menu-icons li a#trigger-overlay {
  padding: 0 12px;
  background: url("images/icon-menu.png") no-repeat;
  background-size: 24px;
}

/* Overlay Menu ---------------------------------------------------------------------*/

.overlay-close {
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: -5px;
  z-index: 100;
  overflow: hidden;
  background: url("images/icon-x.png") no-repeat;
  background-size: 24px;
  border: none;
  outline: none;
  opacity: 1;
}

.overlay-close:hover {
  background: transparent url("images/icon-x.png") no-repeat;
  background-size: 24px;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .overlay-close {
    right: 1.6667%;
  }
}

@media (min-width: 1200px) {
  .overlay-close {
    right: -1.6667%;
  }
}

.admin-bar .overlay-close {
    top: 98px;
  }

@media (min-width: 783px) {
  .admin-bar .overlay-close {
    top: 85px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  overflow: scroll;
}

.overlay-menu {
  position: relative;
  height: 100%;
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.overlay-menu:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.overlay nav {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.overlay ul {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 1.125rem;
  list-style: none;
  -webkit-transition: none;
}

.overlay ul li {
/*
  height: 20%;
  height: calc(20%);
*/
  min-height: 14px;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.overlay ul .menu-item-has-children > a:before {
  display: inline-block;
  margin-right: 1rem;
  content: " ";
}

.overlay ul .menu-item-has-children > a:after {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 0.75rem;
  font-size: 1.5rem;
  content: "›";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.overlay ul li a {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: #25292c;
  -webkit-transition: color 0.1s;
          transition: color 0.1s;
}

.overlay ul li a:hover {
  color: #4ac2be;
}

.overlay .sub-menu {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.overlay .sub-menu li {
  display: block;
  height: auto;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0.62;
}

.overlay .sub-menu li a {
  padding: 0.25rem 1.125rem;
}

/* Effects --------------------------------------------------------------------------*/

.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out, visibility 0s 0.3s;
          transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
}

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 2.25rem;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

/* Animated Header Nav --------------------------------------------------------------*/

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
}

@media (min-width: 768px) {
.site-header {
    position: fixed;
  }
}

.admin-bar .site-header {
  top: 46px;
}

/* Admin bar breakpoint */
@media (min-width: 783px) {
  .admin-bar .site-header {
    top: 32px;
  }
}

.site-header .site-logo {
  height: 55px;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
          transition: all 0.2s;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.site-header .header-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
}

.site-header .header-inner {
  display: table;
  width: 100%;
  max-width: 1160px;
  padding: 2.5rem 3.3333%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
          transition: all 0.2s;
}

@media (min-width: 768px) {
  .site-header.site-header-shrink .header-container {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .site-header.site-header-shrink .header-inner {
    padding: 0.875rem 3.3333%;
  }

  .site-header.site-header-shrink .site-logo {
    transform: scale(0.875);
  }
}

@media (min-width: 1200px) {
  .site-header .header-inner {
    padding: 2.5rem 0;
  }

  .site-header.site-header-shrink .header-inner {
    padding: 0.875rem 0;
  }
}

/* Page Navigation ------------------------------------------------------------------*/

.page-navigation,
.single-post-navigation,
.comment-navigation {
  margin: 0 1.6667% 6rem;
  overflow: hidden;
  clear: both;
  font-size: 1rem;
  font-weight: 700;
}

.page-navigation {
  margin: 0 1.6667%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.blog .page-navigation {
  width: 96.6667%;
}

.single-post-navigation,
.comment-navigation {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .single-post-navigation,
  .comment-navigation {
    margin-right: auto;
    margin-left: auto;
  }
  .comment-navigation {
    width: 79.3103%;
  }
}

.page-navigation > div,
.single-post-navigation > div,
.comment-navigation > div {
  width: 50%;
  max-width: 50%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.62);
  border-top: 1px solid #efefef;
  box-sizing: border-box;
}

.page-navigation .nav-previous,
.single-post-navigation .nav-previous,
.comment-navigation .nav-previous {
  float: left;
}

.page-navigation .nav-next,
.single-post-navigation .nav-next,
.comment-navigation .nav-next {
  float: right;
  text-align: right;
  border-left: 1px solid #efefef;
}

.page-navigation a,
.single-post-navigation a,
.comment-navigation a {
  display: block;
  overflow: hidden;
  color: #25292c;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-navigation .nav-previous a:before,
.single-post-navigation .nav-previous a:before,
.comment-navigation .nav-previous a:before {
  position: relative;
  top: -1px;
  margin-right: 1rem;
  content: "‹";
}

.page-navigation .nav-next a:after,
.single-post-navigation .nav-next a:after,
.comment-navigation .nav-next a:after {
  position: relative;
  top: -1px;
  margin-left: 1rem;
  content: "›";
}

.page-navigation a:hover,
.single-post-navigation a:hover,
.comment-navigation a:hover {
  color: #4ac2be;
  border-color: transparent;
}

.comment-navigation .nav-next {
  float: right;
}

.comment-navigation .nav-previous {
  float: left;
}

/*-----------------------------------------------------------------------------------*/

/*	5.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

p.lead {
  font-size: 1.375rem;
  line-height: 1.375;
}

.blog .site-main,
.archive .site-main {
  position: relative;
  margin: 0 -1.6667%;
  padding-bottom: 5.375rem;
}

.post,
.search .page {
  padding-bottom: 1rem;
  margin-right: 1.6667%;
  margin-bottom: 3.3333%;
  margin-left: 1.6667%;
  background: #fff;
  max-width: 96.7742%;
}

.page-template-template-portfolio-php #primary {
  padding-top: 0;
}

@media (min-width: 768px) {
  .blog .site-main,
  .archive .site-main {
    padding-bottom: 8.8889%;
    margin: 3.3333% -1.6667% 0;
  }

  .blog .post,
  .archive .post,
  .search .post,
  .search .page {
    float: left;
    width: 46.6667%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .blog .post,
  .archive .post,
  .search .post,
  .search .page {
    width: 30%;
    margin-bottom: 3.333%;
  }
}

.single .post {
  padding-bottom: 5rem;
  margin: 0;
  border-right: none;
  max-width: 100%;
}

.js .layout-masonry .post,
.js .layout-masonry .page,
.js .portfolio-feed .type-portfolio {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.js .layout-masonry [class^="post"].show,
.js .portfolio-feed .type-portfolio.show {
	opacity: 1;
}

.layout-standard .post {
	padding-bottom: 3em;
}

.blog .layout-standard .post:first-child {
	margin-top: -3.3333%;
}

.layout-standard .entry-summary {
	max-width: 920px;
}

.layout-standard .entry-summary .excerpt{
	text-align: center;
}

@media (min-width: 768px) {
  .single .post,
  .layout-standard .post,
  .layout-standard [class^="post"] {
    float: none;
    width: auto;
    height: auto;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
  }
}

.pad {
  max-width: 1160px;
  margin: 0 auto;
  background: white;
}

.page article {
  max-width: 720px;
  margin: 0 auto;
  background: white;
}

.home article,
.page-template-template-fullwidth-php article {
  max-width: 1160px;
}

#post-0 {
  float: none;
  width: 100%;
  height: auto;
  padding: 20px 0;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  #post-0 {
    padding: 40px 0 100px;
    padding: 4rem 0 10rem;
  }
}

/* Titles ---------------------------------------------------------------------------*/

.archive-header,
.page-header {
  padding: 1.25rem 4.6875% 3.125rem;
}

.archive-title,
.error404 .page-title {
  font-size: 1.375rem; 
}

.tax-portfolio-type .archive-header,
.tax-portfolio-type .page-header {
  padding: 1.25rem 4.6875% 1.25rem;
}

.archive-header .archive-title,
.archive-header .page-title,
.error404 .page-title {
  text-align: center;
}

.archive-header p,
.page-header p {
  margin-bottom: 0;
  color: #878788;
}

.entry-thumbnail {
  position: relative;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.page .has-post-thumbnail .entry-thumbnail,
.single .has-post-thumbnail .entry-thumbnail {
  margin-bottom: -2.5rem;
}

.home .has-post-thumbnail .entry-thumbnail,
.page-template-template-portfolio .has-post-thumbnail .entry-thumbnail {
	margin-bottom: 0;
}

.entry-thumbnail a {
  display: block;
  border-bottom: none;
}

.entry-thumbnail a:empty {
  padding-top: 100%;
  background-color: #4ac2be;
}

.entry-thumbnail img {
  height: auto;
  min-width: 100%;
}

.entry-header {
  width: 88.8889%;
  margin: 3rem auto 0;
  padding-top: 3.75rem;
  text-align: center;
}

@media (min-width: 768px) {
  .entry-header {
    width: 79.3103%;
    margin: 2.5rem auto 0;
  }
}

.entry-title {
  margin-top: 0;
}

.entry-title a {
  color: #25292c;
}

.entry-title a:hover {
  color: #4ac2be;
  border-color: #4ac2be;
}

.blog .entry-header,
.archive .entry-header,
.search .entry-header {
  width: auto;
  margin: 0;
  padding: 2rem 2rem 0;
}

.blog .entry-header h1,
.archive .entry-header h1,
.search .entry-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.blog .entry-meta,
.archive .entry-meta,
.search .entry-meta {
  width: auto;
  margin: 0;
  padding: 0 2rem 2rem;
}

.blog .entry-summary,
.archive .entry-summary,
.search .entry-summary {
  font-size: 0.875rem;
}

.blog .layout-standard .entry-summary,
.archive .layout-standard .entry-summary,
.search .layout-standard .entry-summary {
	font-size: 1rem;
}

.blog .entry-summary p:last-of-type,
.archive .entry-summary p:last-of-type,
.search .entry-summary p:last-of-type {
  margin-bottom: 0;
}


/* Content --------------------------------------------------------------------------*/

.entry-content {
  width: 88.8889%;
  margin: 0 auto;
}

.page .entry-content,
.single .entry-content {
  margin: 3rem auto 0;
}

@media (min-width: 768px) {
  .single .entry-content {
    width: 79.3103%;
  }
}

.entry-summary {
  width: 88.8889%;
  margin: 0 auto;
}

.sticky {
  display: block;
}

.entry-meta {
  font-size: .875rem;
  color: #878788;
}

.entry-meta a {
  color: #878788;
}

.entry-meta a:hover {
  color: #25292c;
  border-color: transparent;
}

.entry-footer {
  width: 79.3103%;
  margin: 2.5rem auto 0;
  font-size: .875rem;
  text-align: center;
}

.comments-link {
	text-align: center;
	padding-top: 2.2rem;
}

.entry-footer a {
  color: #878788;
}

.entry-footer a:hover {
  color: #25292c;
}

.entry-tags a {
  display: inline-block;
  margin-left: 0.625rem;
}

.entry-tags a:first-child {
  margin-left: 0;
}

/* Post Formats ---------------------------------------------------------------------*/

.format-quote .post-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  color: #fff;
  background: rgba(74, 194, 190, 0.7);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.format-quote .post-overlay blockquote {
  position: relative;
  top: 50%;
  max-width: 81.25%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  white-space: normal;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.format-quote .post-overlay blockquote cite {
  display: block;
  margin-top: 2.5em;
  font-size: 0.8em;
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 768px) {
  .format-quote .post-overlay blockquote {
    font-size: 1.25rem;
  }
}

.format-link .post-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  color: #fff;
  background: rgba(74, 194, 190, 0.7);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.format-link .post-overlay h2 {
  position: relative;
  top: 50%;
  max-width: 81.25%;
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 768px) {
  .format-link .post-overlay h2 {
    font-size: 1.25rem;
  }
}

.format-audio .wp-post-image {
  width: 100%;
  height: auto;
}

.author-bio {
  padding: 1.125rem 4.6875%;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #efefef;
}

.author-bio .author-avatar {
  float: left;
  margin-right: 1.5rem;
}

/* Media Elements -------------------------------------------------------------------*/

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
}

.wp-caption,
.gallery-caption {
  max-width: 100%;
  margin-bottom: 1.5em;
  text-align: center;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  max-width: 98%;
  margin: 1.2% auto 0;
}

.wp-caption .wp-caption-text {
  margin: 0.625em 0;
  font-size: .875rem;
  opacity: 0.5;
}

.site-main .gallery {
  margin-bottom: 1.5em;
}

.site-main .gallery a img {
  height: auto;
  border: none;
}

.site-main .gallery dd {
  padding: 0 0.625em;
  margin: 0.625em 0;
}

.gallery-item {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

embed,
object,
iframe {
  max-width: 100%;
  height: auto;
}

.entry-thumbnail iframe {
	min-height: 200px;
}

/* Gallery --- */

.zilla-gallery-container {
  position: relative;
}

.zilla-slide-prev,
.zilla-slide-next {
  position: absolute;
  top: 47.5%;
  left: 0;
  z-index: 999;
  width: 30px;
  height: 30px;
  overflow: hidden;
  color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  background: #25292c url("images/base-icons.png") no-repeat -60px 0;
  border: none;
  -webkit-transition: background 0.2s ease-in-out;
     -moz-transition: background 0.2s ease-in-out;
          transition: background 0.2s ease-in-out;
}

.zilla-slide-prev:hover,
.zilla-slide-next:hover {
  background-color: #4ac2be;
  border: none;
}

.zilla-slide-next {
  right: 0;
  left: auto;
  background-position: -90px 0;
}

@media (min-width: 768px) {
  .single-post .zilla-slide-prev,
  .single-post .zilla-slide-next {
    width: 60px;
    height: 60px;
    background-position: -120px -30px;
  }
}

@media (min-width: 768px) {
  .single-post .zilla-slide-next {
    width: 60px;
    height: 60px;
    background-position: -180px -30px;
  }
}

.zilla-gallery {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

.js .zilla-gallery li {
  display: none;
  width: 100%;
}

.js .zilla-gallery li:first-child {
  display: block;
}

.zilla-gallery img {
  width: 100%;
  height: auto;
}

.js .zilla-gallery.stacked li {
  display: block;
}

.zilla-gallery .wp-caption {
  display: block;
  width: 100%;
  padding: 1em;
  margin-bottom: 0;
  font-size: 0.875em;
  background: white;
  background: rgba(255, 255, 255, 0.75);
}

/* Media jPlayer Skin ---------------------------------------------------------------*/

.mejs-container.mejs-audio {
  top: -30px;
  margin-bottom: -30px;
}

.mejs-container:focus {
  outline: none;
}

.mejs-container.mejs-video {
	min-height: 169px;
}

/*-----------------------------------------------------------------------------------*/

/*  6. Portfolio
/*-----------------------------------------------------------------------------------*/

.portfolio-type-nav {
  padding: 1rem 0;
  margin: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.62);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
}

.portfolio-type-nav li {
  display: inline;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  list-style: none;
}

.portfolio-type-nav li a {
  color: #25292c;
  opacity: 0.62;
  white-space: nowrap;
  -webkit-transition: color 0.1s;
          transition: color 0.1s;
}

.portfolio-type-nav li a.active {
  opacity: 1;
}

.portfolio-feed {
  margin: 0;
}

.portfolio-feed .portfolio {
  margin: 0 1.6667% 3.3333%;
  float: left;
  height: auto;
  overflow: hidden;
  background: none;
}

@media (min-width: 768px) {
  .portfolio-feed {
    margin-top: 3.3333%;
  }
  .portfolio-feed .portfolio {
    float: left;
    width: 46.6667%;
  }
}

.portfolio-feed .portfolio a {
  position: relative;
  display: block;
}

.portfolio-feed .portfolio .entry-header {
  margin-top: 1.125%;
}

@media (min-width: 992px) {
  .portfolio-three-columns .portfolio-feed .portfolio:nth-of-type(3n+1) {
    clear: left;
  }
  .portfolio-three-columns .portfolio-feed .portfolio {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  .page-template-template-portfolio-2col-php .portfolio-feed {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
    margin-left: 0;
  }
  .portfolio-feed .portfolio {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 1.25rem 0;
  }
  .portfolio-feed .portfolio .entry-thumbnail img {
    width: 100%;
    height: auto;
  }
}

.portfolio-feed .portfolio {
  position: relative;
  display: inline-block;
}

.portfolio-feed .entry-thumbnail {
  position: relative;
  margin: 0;
}

.portfolio-feed .entry-thumbnail img {
  position: relative;
  display: block;
  max-width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
}

.portfolio-feed .entry-thumbnail .caption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem;
  background: #fff;
  box-sizing: border-box;
}

.cs-style-3 .portfolio img {
  -webkit-transition: -webkit-transform 0.3s;
     -moz-transition: -moz-transform 0.3s;
          transition: transform 0.3s;
}

.cs-style-3 .entry-thumbnail .caption {
  top: auto;
  bottom: 0;
  width: 100.5%;
  padding: 1rem 2rem;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}

.no-touch .cs-style-3 .entry-thumbnail:hover .caption,
.cs-style-3 .entry-thumbnail:hover {
  -webkit-box-shadow: inset 0 -20px 20px -10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 -20px 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -20px 20px -10px rgba(0, 0, 0, 0.1);
}

.no-touch .cs-style-3 .entry-thumbnail:hover .caption,
.cs-style-3 .entry-thumbnail:hover .caption {
  padding: 2rem;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0px 100px 0px rgba(0, 0, 0, 0.33);
     -moz-box-shadow: 0 0px 100px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0px 100px 0px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cs-style-3 .entry-thumbnail {
  overflow: hidden;
}

.no-touch .cs-style-3 .entry-thumbnail:hover img,
.cs-style-3 .entry-thumbnail:hover img {
  -webkit-transform: translateY(-10%);
     -moz-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.view {
  float: right;
  padding: .5rem .875rem;
  font-size: 0.875rem;
}

.portfolio-feed .entry-thumbnail .view {
  display: none;
}

.portfolio-feed .portfolio h3 {
  margin-top: 0;
  color: #121212;
}

.portfolio-feed .portfolio-types a {
  display: inline;
  font-size: 0.75rem;
  color: #878788;
  text-align: center;
}

.portfolio-feed .portfolio-types,
.portfolio-feed h3 {
  text-align: center;
}

.portfolio-feed .entry-meta {
  margin-top: 0;
}

.portfolio-types li {
  display: inline;
  float: left;
  padding: 0 0.5rem;
  font-size: 0.875rem;
}

.single-portfolio article {
  background-color: #fff;
}

.single-portfolio .entry-header {
  width: 88.8889%;
  margin: 3rem auto 0;
}

@media (min-width: 768px) {
  .single-portfolio .entry-header {
    width: 79.3103%;
    margin: 2.5rem auto 0;
  }
}

.single-portfolio .entry-content {
  margin: 3rem auto 0;
}

@media (min-width: 768px) {
  .single-portfolio .entry-content {
    text-align: center;
  }
}

.single-portfolio .entry-footer {
  margin: 1.25rem auto 0;
  padding-bottom: 3.75rem 
}

.single-portfolio .single-post-navigation {
  margin-left: auto;
  margin-right: auto; 
}

.portfolio-image-description {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}

.portfolio-media-feature {
  max-width: 1160px;
  margin: 0 auto -2.5rem;
}

.portfolio-media-feature:empty {
  margin-bottom: 0;
}

.portfolio-media-feature img {
  width: 100%;
  height: auto;
}

.portfolio-media-main {
  max-width: 1160px;
  margin: 0 auto;
}

.portfolio-media-main .zilla-gallery img {
  width: 100%;
  height: auto;
}

.portfolio-entry-meta {
  color: #878788;
}

.portfolio-entry-meta strong {
  color: #25292c;
}

.portfolio-entry-meta ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  overflow: hidden;
}

.portfolio-entry-meta li {
  display: inline;
  margin: 0 0.875rem 0 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .portfolio-entry-meta li {
    float: left;
  }
}

.portfolio-entry-meta li:last-child {
  margin-right: 0;
}

.portfolio-entry-meta a {
  color: #878788;
}

.portfolio-entry-meta a:hover {
  color: #4ac2be;
}

.portfolio .entry-footer {
  clear: both;
}

.portfolio-types {
  padding: 0 !important;
  overflow: hidden;
}

.portfolio-types a {
  color: #878788;
}

.portfolio-types a:hover {
  color: #4ac2be;
}

/*-----------------------------------------------------------------------------------*/

/*	7.	Comments
/*-----------------------------------------------------------------------------------*/

.comments {
  margin: 6rem 1.6667% 0;
}

@media (min-width: 768px) {
  .comments {
    margin: 6rem 0 0;
  }
}

.comments-title,
.pings-title {
  text-align: center;
}

.commentlist,
.pinglist {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.pinglist {
  list-style-type: decimal;
}

@media (min-width: 768px) {
  .commentlist,
  .pinglist {
    width: 79.3103%;
  }
}

.comment {
  margin-top: 20px;
}

.comment-author {
  padding-top: 5px;
}

.comment-author cite {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}

.bypostauthor {
  background: #fff;
}

.comment .avatar {
  display: none;
  float: left;
  margin: 0 25px 0 0;
}

@media (min-width: 768px) {
  .comment .avatar {
    display: block;
  }
}

.comment-meta {
  margin-bottom: 15px;
  font-size: 0.875em;
  font-style: italic;
}

.comment-meta a {
  margin-right: 5px;
  color: #878788;
}

.comment-meta a:hover {
  color: #25292c;
  border-color: transparent;
}

.comment-content {
  margin-top: 1.5rem;
}

.comment-content p:last-of-type {
  margin-bottom: 0;
}

.children {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.children li {
  padding-left: 9%;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.38);
  border-top: 1px solid #efefef;
}

.nocomments {
  padding: 20px;
  text-align: center;
}

.comments > .comment-respond {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .comments > .comment-respond {
    width: 79.3103%;
  }
}

@media (min-width: 992px) {
  .comments > .comment-respond {
    width: 58.6207%;
  }
}

.comment .comment-respond {
  position: relative;
  padding: 1rem 1rem 4.5rem;
  margin: 0 auto;
  background: #fff;
  border-top: 1px solid #efefef;
}

.comment .comment-respond .comment-reply-title a {
  position: absolute;
  bottom: 1.4rem;
  left: 1rem;
  width: auto;
  font-size: 0.875rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  .comment .comment-respond {
    padding: 1.5rem 1rem;
  }
}

.commentlist + .comment-respond,
.comment-navigation + .comment-respond {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .commentlist + .comment-respond {
    margin: 60px auto 0;
    margin: 6rem auto 0;
  }
}

.comment-reply-title,
.comment-respond form p:last-of-type {
  margin: 0;
}

.commentform {
  margin-top: 20px;
}

.comment div[id^="comment-"] {
  padding: 20px;
  background: #fff;
}

.comment .moderation {
  display: block;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #878788;
}

.comment-subscription-form {
	margin-bottom: 0;
	text-align: right;
}

.comment-subscription-form label {
	top: 0;
}

/*-----------------------------------------------------------------------------------*/

/*	8.	Footer Styles
/*-----------------------------------------------------------------------------------*/

#footer {
  max-width: 100%;
  background-color: #fff;
}

.site-footer {
  max-width: 1160px;
  padding: 2rem 0;
  margin: 0 auto;
  font-size: 0.75rem;
  color: #25292c;
  text-align: center;
  border: 0;
}

.footer-center {
  max-width: 1160px;
  margin: 0 auto;
}

.site-footer p:last-of-type {
  margin-bottom: 0;
}

.site-footer a {
  color: #878788;
}

.site-footer a:hover {
  color: #25292c;
}

.footer-widgets {
  position: relative;
  display: table;
  width: 100%;
  margin: 6rem auto;
  overflow: hidden;
  text-align: center;
  zoom: 1;
  table-layout: fixed;
  font-size: 0.875rem;
}

.single .footer-widgets {
  padding: 6rem 0 0;
  border-top: 1px solid #d0d0d0;
}

.footer-column {
  padding: 0 4.75%;
  zoom: 1;
}

@media (min-width: 768px) {
  .footer-column {
    display: table-cell;
    width: 33.3333%;
    border-top: none;
  }
}

/*-----------------------------------------------------------------------------------*/

/*	9.	Page & Page Templates
/*-----------------------------------------------------------------------------------*/

article.page {
  padding-bottom: 3rem;
  border-bottom: 1px solid #efefef;
}

.page-template-template-portfolio-php article.page {
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: none;
}

.page-template-template-portfolio-php article.page .entry-content {
  width: 100%;
  margin: 6rem 0;
}

.page-template-template-portfolio-php article.page .entry-content *:last-child {
  margin-bottom: 0;
}

.archive-lists {
  width: 79.3103%;
  margin: 0 auto;
}

.archive-lists .children {
  margin-bottom: 0;
}

.full-width {
  width: auto;
}

.page .entry-header, 
.page .entry-content {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.page-template-template-fullwidth-php .entry-header,
.page-template-template-fullwidth-php .entry-content,
.page-template-template-portfolio-php .entry-header,
.page-template-template-portfolio-php .entry-content {
  max-width: none;
}

.contactform {
  padding: 0;
  margin-top: 6rem;
  margin-left: 0;
  clear: both;
}

.contactform li {
  margin-bottom: 1.625rem;
  zoom: 1;
  list-style-type: none;
}

.contactform li:before,
.contactform li:after {
  display: table;
  content: "";
}

.contactform li:after {
  clear: both;
}

.contactform label {
  font-size: 0.875rem;
  color: #878788;
}

.contactform input[type="text"],
.contactform input[type="email"] {
  width: 100%;
}

@media (min-width: 768px) {
  .contactform label {
    position: relative;
    top: 1rem;
    display: inline-block;
    width: 15%;
  }

  .contactform input[type="text"],
  .contactform input[type="email"] {
    width: 85%;
    float: right;
  }
}

.contactform textarea {
  width: 100%;
  height: 200px;
}

.contactform button {
  width: 100%;
}

@media (min-width: 768px) {
  .contactform button {
    float: right;
    width: auto;
  }
}

label.error {
  display: block;
  top: 0;
  width: auto;
  height: 1.25rem;
  clear: both;
  color: red;
  font-size: 0.75rem;
  text-align: right;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.contactform input.error,
.contactform textarea.error {
  border-color: red;
}

.archive-lists {
  text-align: center;
}

.archive-lists ul {
  padding: 0;
  list-style: none;
}

/*-----------------------------------------------------------------------------------*/

/*	10.	Widgets
/*-----------------------------------------------------------------------------------*/

.widget {
  margin: 2rem 0 0;
}

.footer-column:first-child > .widget:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .widget:first-child {
    margin-top: 0;
  }
}

.widget-title {
  margin: 0 0 1rem;
  font-size: 1.125rem;
  color: #25292c;
  text-align: center;
}

.widget > ul,
.widget > ol {
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
}

.widget select {
  max-width: 100%;
}

.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_archive ul,
.widget_categories ul,
.widget_meta ul {
  padding: 0;
}

.widget fieldset {
  padding: 0;
  border: none;
}

/* Search Widget --------------------------------------------------------------------*/

.widget_search #s {
  width: 100%;
}

.widget_search form,
.widget_search fieldset {
  margin: 0;
}

/* Calendar Widget ------------------------------------------------------------------*/

.widget_calendar caption {
  margin-bottom: 5px;
}

.widget_calendar table {
  width: 100%;
}

/* Menu Widget ----------------------------------------------------------------------*/

.widget_nav_menu ul {
  list-style: none;
}

/* RSS Widget -----------------------------------------------------------------------*/

.widget_rss .rss-date {
  font-size: 0.875em;
  font-style: italic;
  color: #878788;
}

.widget_rss li {
  margin-bottom: 1em;
}

.widget_rss .widget-title img {
  position: relative;
  top: -5px;
  margin-right: 5px;
}

/* Twitter Widget -------------------------------------------------------------------*/

.zilla-tweet-widget ul {
  margin: 0 0 10px 0;
  list-style-type: none;
}

.zilla-tweet-widget li {
  padding: 10px 0;
  font-style: italic;
}

.zilla-tweet-widget li:first-child {
  padding-top: 0;
}

.zilla-tweet-widget .twitter-time-stamp {
  display: block;
  font-size: .875em;
  color: #878788;
}

.zilla-tweet-widget .twitter-time-stamp:hover {
  color: #25292c;
  border-bottom-color: transparent;
}

/* Flickr Widget --------------------------------------------------------------------*/

.zilla_flickr_widget {
  padding-right: 0;
}

.flickr_badge_image {
  float: left;
  width: 19.0164%;
  margin: 0 2.623% 5.2459%;
  border-radius: 4px;
}

.flickr_badge_image a {
  display: block;
  max-width: 75px;
  background: #4ac2be;
  border: none;
  border-radius: 4px;
}

.flickr_badge_image a:hover img {
  opacity: 0.7;
}

.flickr_badge_image img {
  border: none;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

/* Video Widget ---------------------------------------------------------------------*/

.zilla_video {
  margin-bottom: 10px;
}

/* ZillaDribbbler -------------------------------------------------------------------*/

.zilla-dribbble-shots li {
  margin: 0 0 20px 0;
}

.zilla-dribbble-shots li a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: #4ac2be;
  border-bottom: none;
}

.zilla-dribbble-shots li a:hover img {
  opacity: 0.7;
}

.zilla-dribbble-shots li img {
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

/* ZillaLikes -----------------------------------------------------------------------*/

a.zilla-likes {
  font-weight: 700;
  border-color: transparent;
}

/* ZillaSocial ----------------------------------------------------------------------*/

.zilla-social a {
  display: inline-block;
  margin: 2px;
}

/* ZillaShortcodes ------------------------------------------------------------------*/

.entry-content > br:first-child,
.entry-content p:first-child:empty,
.entry-content p:last-child:empty,
.zilla-one-half > br:first-child,
.zilla-one-third > br:first-child,
.zilla-two-third > br:first-child,
.zilla-three-fourth > br:first-child,
.zilla-one-fourth > br:first-child,
.zilla-one-fifth > br:first-child,
.zilla-two-fifth > br:first-child,
.zilla-three-fifth > br:first-child,
.zilla-four-fifth > br:first-child,
.zilla-one-sixth > br:first-child,
.zilla-five-sixth > br:first-child,
.zilla-one-half p:first-child:empty,
.zilla-one-third p:first-child:empty,
.zilla-two-third p:first-child:empty,
.zilla-three-fourth p:first-child:empty,
.zilla-one-fourth p:first-child:empty,
.zilla-one-fifth p:first-child:empty,
.zilla-two-fifth p:first-child:empty,
.zilla-three-fifth p:first-child:empty,
.zilla-four-fifth p:first-child:empty,
.zilla-one-sixth p:first-child:empty,
.zilla-five-sixth p:first-child:empty,
.zilla-one-half p:last-child:empty,
.zilla-one-third p:last-child:empty,
.zilla-two-third p:last-child:empty,
.zilla-three-fourth p:last-child:empty,
.zilla-one-fourth p:last-child:empty,
.zilla-one-fifth p:last-child:empty,
.zilla-two-fifth p:last-child:empty,
.zilla-three-fifth p:last-child:empty,
.zilla-four-fifth p:last-child:empty,
.zilla-one-sixth p:last-child:empty,
.zilla-five-sixth p:last-child:empty,
.zilla-toggle-inner > br:first-child,
.zilla-toggle-inner p:first-child:empty,  
.zilla-toggle-inner p:last-child:empty {
  display: none;
}

.zilla-one-half > *:last-child,
.zilla-one-third > *:last-child,
.zilla-two-third > *:last-child,
.zilla-three-fourth > *:last-child,
.zilla-one-fourth > *:last-child,
.zilla-one-fifth > *:last-child,
.zilla-two-fifth > *:last-child,
.zilla-three-fifth > *:last-child,
.zilla-four-fifth > *:last-child,
.zilla-one-sixth > *:last-child,
.zilla-five-sixth > *:last-child,
.zilla-toggle-inner > *:last-child {
  margin-bottom: 0;
} 

@media screen and (max-width: 414px) {
  .zilla-one-half:empty,
  .zilla-one-third:empty,
  .zilla-two-third:empty,
  .zilla-three-fourth:empty,
  .zilla-one-fourth:empty,
  .zilla-one-fifth:empty,
  .zilla-two-fifth:empty,
  .zilla-three-fifth:empty,
  .zilla-four-fifth:empty,
  .zilla-one-sixth:empty,
  .zilla-five-sixth:empty {
    margin-bottom: 0;
  }
}

a.zilla-button,
a.zilla-button:visited {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-image: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  letter-spacing: -0.02em;
}

a.zilla-button.accent,
a.zilla-button.accent:visited {
  background-color: #4ac2be;
}

a.zilla-button.accent:hover {
  opacity: 0.75;
}

a.zilla-button.border,
a.zilla-button.border:visited {
  background: none !important;
  box-shadow: inset 0 0 0 2px #25292c !important;
  color: #25292c !important;
}

a.zilla-button.border:hover {
  color: #fff !important;
  background: #25292c !important;
}

.zilla-tabs .zilla-nav .ui-tabs-selected a,
.zilla-tabs .zilla-nav .ui-tabs-active a {
  outline: visible;
}

.zilla-tabs .zilla-nav .ui-tabs-selected a:focus,
.zilla-tabs .zilla-nav .ui-tabs-active a:focus {
  outline: none;
}

/* Jetpack --------------------------------------------------------------------------*/

/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll .page-navigation {
  display: none;
}

#infinite-handle:before,
.infinite-loader:before,
#infinite-handle:after,
.infinite-loader:after {
  display: table;
  content: ' ';
}

#infinite-handle:after,
.infinite-loader:after {
  clear: both;
}

.post-container {
	margin-bottom: 30px;
}

#infinite-handle {
  position: absolute;
  bottom: -30px;
  width: 96.6667%;
  margin: 0 1.6667%;
  overflow: hidden;
  clear: both;
  text-align: center;
  overflow: visible;
}

.layout-standard #infinite-handle {
	bottom: auto;
}

#infinite-handle span {
  visibility: hidden;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: visible;
  text-indent: -300px;
  background: none;
  border: none;
}

#infinite-handle span:after {
  display: inline-block;
  visibility: visible;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  padding: 0;
  font-size: 2.25rem;
  border-radius: 30px;
  content: "+";
  color: #fff;
  line-height: 60px;
  font-weight: 100;
  text-indent: 0;
  background-color: #25292c;
  -webkit-transition: all 0.1s;
          transition: all 0.1s;
}

#infinite-handle span:hover:after {
  background-color: #4ac2be;
}

.infinite-loader {
  position: absolute;
  bottom: -66px;
  width: 96.6667%;
  margin: 0 1.6667%;
  overflow: hidden;
  clear: both;
  text-align: center;
  overflow: visible;
}

.infinite-loader .spinner {
  margin: 0 auto;
  top: 0 !important;
  left: 0 !important;
}